<template name="Chart">

  <div class="container">

    <div class="row mb-4">
      <div class="col-md-4">
        <canvas id="myChart" width="175" height="150"></canvas>
      </div>
      <div class="col-md-4">
        <canvas id="myChart2" width="175" height="150"></canvas>
      </div>
      <div class="col-md-4">
        <canvas id="myChart3" width="175" height="150"></canvas>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <canvas id="myChart4" width="175" height="50"></canvas>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-4">
        <canvas id="myChart5" width="175" height="150"></canvas>
      </div>
      <div class="col-md-4">
        <canvas id="myChart6" width="175" height="150"></canvas>
      </div>
      <div class="col-md-4">
        <canvas id="myChart7" width="175" height="150"></canvas>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-8">
        <canvas id="myChart8" width="175" height="70"></canvas>
      </div>
      <div class="col-md-4">
        <canvas id="myChart9" width="175" height="150"></canvas>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <canvas id="myChart10" width="175" height="50"></canvas>
      </div>
    </div>

  </div>

</template>
