<template name="marketing">


  <div class="container marketing">
    <hr class="featurette-divider-top">
    <h1 class="text-center">We provide the food you want with all the convenience of quick delivery.</h1>
    <br>
    <br>
    <br>

    <div class="row">
      <div class="col-lg-4">
        <div class="zoom">
          <i class="fas fa-cookie fa-5x"></i>
          <div class="mask flex-center"> </div>
          <h5 class="font-weight-bold mt-3">Satisfy your cravings</h5>
          <p class="grey-text"> Have a craving for something specific? We have a wide range of restaurants to satisfy whatever mood you may be in.</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="zoom">
          <i class="fas fa-utensils fa-5x"></i>
          <div class="mask flex-center"> </div>

          <h5 class="font-weight-bold mt-3">Explore new restaurants</h5>
          <p class="grey-text">Not sure what you want to eat? Take a look at our restaurants and you'll be sure to find something delicious. </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="zoom">
          <i class="fas fa-car fa-5x"></i>
          <div class="mask flex-center"> </div>

          <h5 class="font-weight-bold mt-3">Delivered right to you</h5>
          <p class="grey-text"> Too busy to cook up a meal? No problem. We deliver meals from local restaurants straight to your door.</p>
        </div>
      </div>
    </div>
<br>


    <hr class="featurette-divider">
    <h1 class="text-center mb-3">We currently serve 3 markets and are growing quickly.</h1>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-4">
        <div class="zoom">
          <a href="./services"><img class="wow fadeIn rounded-circle" src="1.jpg" alt="image" width="140" height="140"></a>
          <div class="mask flex-center"> </div>
          <h5 class="font-weight-bold mt-3">Chicago</h5>
          <p class="grey-text">Some of the many things Chicago is famous for are: Chicago-style hot dogs, Chicago-style (deep dish) pizza, Maxwell Street Polish Sausage. Give them a try!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="zoom">
          <a href="./services"><img class="wow fadeIn rounded-circle" src="2.jpg" alt="image" width="140" height="140"></a>
          <div class="mask flex-center"> </div>
          <h5 class="font-weight-bold mt-3">Phoenix</h5>
          <p class="grey-text">Many locals love buttermilk chicken, served with mashed sweet potatoes. It is as comforting as comfort food can get and as delicious as any dish in Phoenix. </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="zoom">
          <a href="./services"><img class="wow fadeIn rounded-circle" src="3.jpg" alt="image" width="140" height="140"></a>
          <div class="mask flex-center"> </div>
          <h5 class="font-weight-bold mt-3">San Antonio</h5>
          <p class="grey-text">Texas is famous for the Chili and Chili con carne. Chili is the official state dish of Texas. The Texan version has no beans while the Tex-Mex version does. Try them out!</p>
        </div>
      </div>
    </div>
    <br>
    <br>

  </div>

</template>
