<template name="posts">
  {{ > navbar}}
  <div class="container postings text-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Say Something!
    </button>
    <hr>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Strategy Feedback</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="post-form">
            <div class="form-group">
              <label>Message</label>
              <textarea class="form-control" id="message" name="message"></textarea>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary saving">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  

  {{#each posts}}
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <p class="name-icon">{{full_name}}</p>
      </div>
      <div class="col-md-10">
        <small>Posted at {{date}}</small>
        <p>{{message}}</p>
      </div>
    </div>
    <hr>

  </div>
  {{/each}}

  {{ > footer}}
</template>
