<template name="strategy">
  {{ > navbar}}


  <div class="container strategy">
    <div class="container">
        <div class="card-columns">
          <!-- card -->
          <div class="card text-center">
            <div class="card-header bg-info text-white">
              Content Strategy
            </div>
            <div class="card-body">
              Create an online presence and market directly to consumers
              <div class="embed-responsive embed-responsive-16by9">
                <video width="320" height="240" controls loop>
                  <source src="market.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="card-footer text-muted bg-info">
              </div>
            </div>
          <!-- card -->
          <div class="card text-center">
            <div class="card-header bg-warning text-white">
              Market Development
            </div>
            <div class="card-body">
              <p class="card-text">Expand to new cities throughout the Unites States. Target cities with high density of restaurants such as New Orleans, LA and Los Angeles,CA.</p>
            </div>
            <div class="card-footer text-muted bg-warning">
            </div>
          </div>
          <!-- card -->
          <div class="card text-center">
            <div class="card-header bg-primary text-white">
              Product Development
            </div>
            <div class="card-body">
              <p class="card-text">Within the existing markets served there is an opportunity to increase the number of restaurants that deliver. Target breakfast restaurants to generate more orders at low peak hours.</p>
            </div>
            <div class="card-footer text-muted bg-primary">
            </div>
          </div>
          <!-- card -->
          <div class="card text-center">
            <div class="card-header bg-success text-white">
              Market Penetration
            </div>
            <div class="card-body">
              <p class="card-text">Reach more people by offering credits to first time customers. Additionally, create a referral program to engage new customers.</p>
            </div>
            <div class="card-footer text-muted bg-success">
            </div>
          </div>
          <!-- card -->
          <div class="card text-center">
            <div class="card-header bg-primary text-white">
              Product Development
            </div>
            <div class="card-body">
              <p class="card-text">Create a program to target delivery to companies at lunch hour.</p>
            </div>
            <div class="card-footer text-muted bg-primary">
            </div>
          </div>
          <!-- card -->
          <div class="card text-center">
            <div class="card-header bg-info text-white">
              Content Marketing
            </div>
            <div class="card-body">
              Create an online presence posting about new annoucements. Use content to post across social media and send out email campaigns.
              <div class="embed-responsive embed-responsive-16by9">
                <video width="320" height="240" controls loop>
                  <source src="announce.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="card-footer text-muted bg-info">
              </div>
            </div>
            <!-- card -->
            <div class="card text-center">
              <div class="card-header bg-info text-white">
                Content Marketing
              </div>
              <div class="card-body">
                <p class="card-text">Create a hashtag so people can engage with the brand more online. There is an opportunity for customers to post photos of their food to generate more awareness of Door Delivered.</p>
              </div>
              <div class="card-footer text-muted bg-info">
              </div>
            </div>
            <!-- card -->
            <div class="card text-center">
              <div class="card-header bg-success text-white">
                Market Penetration
              </div>
              <div class="card-body">
                <p class="card-text">There is an opportunity to increase volume of orders on Monday and Tuesday within the existing markets. Offer credits specifically for use on those low peak days.</p>
              </div>
              <div class="card-footer text-muted bg-success">
              </div>
            </div>
            <!-- card -->
            <div class="card text-center">
              <div class="card-header bg-warning text-white">
                Market Development
              </div>
              <div class="card-body">
                <p class="card-text">Expand to new markets internationally. Begin by targeting cities with high density of restaurants such as Amsterdam, Berlin, and Montreal.</p>
              </div>
              <div class="card-footer text-muted bg-warning">
              </div>
            </div>



        </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-header bg-info text-white">
            Content Strategy
          </div>
          <div class="card-body">
            Create an online presence and market directly to consumers
            <div class="embed-responsive embed-responsive-16by9">
              <video width="320" height="240" controls loop>
                <source src="market.mp4" type="video/mp4">
                </video>
              </div>
            </div>
            <div class="card-footer text-muted bg-info">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-warning text-white">
              Market Development
            </div>
            <div class="card-body">
              <p class="card-text">Expand to new cities throughout the Unites States. Target cities with high density of restaurants such as New Orleans, LA
            </p>
            </div>
            <div class="card-footer text-muted bg-warning">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-primary text-white">
              Product Development
            </div>
            <div class="card-body">
              <p class="card-text">Within the existing markets served there is an opportunity to increase the number of restaurants that deliver. Target breakfast restaurants to generate more orders at low peak hours.</p>
            </div>
            <div class="card-footer text-muted bg-primary">
            </div>
          </div>
        </div>
      </div>





      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-success text-white">
              Market Penetration
            </div>
            <div class="card-body">
              <p class="card-text">Reach more people by offering credits to first time customers. Additionally, create a referral program to engage new customers.</p>
            </div>
            <div class="card-footer text-muted bg-success">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-primary text-white">
              Product Development
            </div>
            <div class="card-body">
              <p class="card-text">Create a program to target delivery to companies at lunch hour.</p>
            </div>
            <div class="card-footer text-muted bg-primary">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-info text-white">
              Content Marketing
            </div>
            <div class="card-body">
              Create an online presence posting about new annoucements
              <div class="embed-responsive embed-responsive-16by9">
                <video width="320" height="240" controls loop>
                  <source src="announce.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="card-footer text-muted bg-info">
              </div>
            </div>
          </div>
        </div>



        <div class="row mt-5 mb-5">
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-header bg-info text-white">
                Content Marketing
              </div>
              <div class="card-body">
                <p class="card-text">Create a hashtag so people can engage with the brand more online. There is an opportunity for customers to post photos of their food to generate more awareness of Door Delivered.</p>
              </div>
              <div class="card-footer text-muted bg-info">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-header bg-success text-white">
                Market Penetration
              </div>
              <div class="card-body">
                <p class="card-text">There is an opportunity to increase volume of orders on Monday and Tuesday within the existing markets. Launch credits specifically for use on those days.</p>
              </div>
              <div class="card-footer text-muted bg-success">
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-header bg-warning text-white">
                Market Development
              </div>
              <div class="card-body">
                <p class="card-text">Expand to new markets internationally. Begin by targeting cities with high density of restaurants.</p>
              </div>
              <div class="card-footer text-muted bg-warning">
              </div>
            </div>
          </div>

        </div> -->
      </div>



      {{ > footer}}
    </template>
